@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #18181B;
  --background-header: #27272a;
  --text-white: #ffffff;

  --color-zinc-800: #18181B;
  --color-zinc-900: #18181B;

}

* {
  margin: 0;
  padding: 0;

  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text-white);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding: 1.8rem; */
  height: 5.2rem;
  border-bottom: 1px solid white;

  background-color: var(--background-header);

  span {
    background-color: #ffffff;
    
    flex: 1;
    height: 1px;
  }

  nav {
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100vh - 5.2rem);

  img {
    height: 462px;
  }
}
